<!DOCTYPE html>
<html lang="cs" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <title>Absence</title>
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <div class="main-back-color">
      <div class="div-name roundedCorner shadow-div-name">
        <div class="roundedCorner div-name-back-color">
          <h1 class="kalendar-nadpis">Absence</h1>
          <span>Základní škola speciální a praktická škola Diakonie ČCE Vrchlabí</span>
        </div>
        <div class="div-cely">
          <div class="inner-shadoow div-cely-in">
            <div class="div-odsazeni">
              <div class="div-form">
                <form class="formLogin" action="/login" method="post">
                  <div class="input-group mb-3">
                    <input type="text" name="email" class="form-control" placeholder="Emailová adresa" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  </div>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Heslo">
                  <button id="btnlogin" type="submit" class="btn btn-primary btn-login" style="margin-bottom: 15px;">Přihlásit se</button>
                </form>
                <div class="">
                  <a href="/reset" style="font-size: 80%; margin-top: 1vh;">Zapomněl/a jsem heslo</a>
                </div>
                <hr>
              </div>
              <div class="div-registrace">
                <div class="div-registrace-in">
                  <a href="/register"><button type="button" class="btn btn-outline-primary btn-registrace">Registrace</button></a>
                </div>
                <% if (errorMessage) { %>
                  <p style="padding-top: 5px;"><%= errorMessage %></p>
                 <% } %> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $("#btnlogin").click(function () {
      $("#btnlogin").hide();
    });
    
</script>    

  </body>
</html>
