<!DOCTYPE html>
<html lang="cs" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <title>Kalendář</title>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <div class="main-back-color">
        <div class="div-name roundedCorner shadow-div-name">
            <div class="roundedCorner div-name-back-color">
                <span style="font-size: 140%;">Zaslání emailu pro změnu hesla</span>
            </div>
            <div class="div-cely">
                <div class="inner-shadoow div-cely-in">
                    <div class="div-odsazeni">
                        <div class="div-form">
                            <form id="formreset" class="formLogin" action="/resetpassword" method="post" novalidate>
                                <div class="jmenoPrijmeni">
                                    <input type="email" value="<% if (oldInput.email) { %><%= oldInput.email %><% } %>" name="email"
                                        style="margin-top: 16px;" class="form-control" id="exampleInputPassword2"
                                        placeholder="Váš email">
                                        <% if (oldInput.errorMessage) { %>
                                            <p><%= oldInput.errorMessage %></p>
                                            <% } %>                          
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button id="btnreset" type="submit" class="btn btn-primary btn-login"
                                        style="width: 60%; margin-bottom: 10px;">Zaslat email</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#btnreset").click(function () {
          $("#formreset").hide();
        });
    </script>  
</body>

</html>